*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(35, 35, 35);
}
:focus{
    outline: none;
}
nav{
    background-color: #000;
}
a{
    text-decoration: none;
    color: cadetblue;
}
nav a{
    padding: .4em;
    background-color: #000;
    border: none;
    border-radius: 0 0 .5em .5em;
    color: rgb(200, 200, 200);
}
nav a:hover{
    background-color: cadetblue;
    border-radius: 0 0 .5em .5em;
    color: black;
    transition: .5s;
}
h1{
    margin: .2em 0;
    color:cadetblue;
}
input{
    margin: .4em .5em;
    padding: 0 .2em;
    background-color: cadetblue;
    border-radius: .4em;
    border: none;
    color: #fff;
}
.main-block{
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.block{
    width: 32%;
    margin-bottom: .8em;
    padding-bottom: .2em;
    background-color: black;
    color: cadetblue;
    border-radius: .5em;
}
.d-flex{
    display: flex;
}
.center{
    text-align: center;
}
h2{
    margin: .2em 0;
}
p, div a{
    margin: .2em .4em;
}
div a:hover{
    color: #fff;
}
.desc{
    margin: .2em;
}
.info{
    justify-content: space-evenly;
}
form div{
    padding: .5em;
    color: #fff;
}
input[type=submit]{
    background-color: none;
    padding: .2em;
}
input[type=submit]:hover{
    background-color: cadetblue;
}
footer{
    display: flex;
    justify-content: center;
}
footer a{
    padding: .2em;
    border-radius: .4em;
}
footer a:hover{
    background-color: #fff;
    transition: .5s;
}
@media screen and ( max-width: 1024px){
    .block{
        width: 48%;
    }
}
@media screen and (max-width: 426px){
    nav{
        flex-direction: column;
    }
    nav a{
        text-align: center;
        width: 100%;
        border-radius: 0;
        border-bottom: 1px solid oldlace;
        padding: .4em 0;
    }
    .block{
        width: 96%;
    }
}